@charset "UTF-8";
body {
	padding: 0 0;
	margin: 0;
	overflow: hidden;
}

.Home {
	padding: 0;
	margin: 0;
	background: #00ffffff;
	background-size: cover;
	overflow: hidden;
	height: 1056px;
	width: auto;
}

.buttonclass {
	background: #00000000;
	resize: none;
	border: none;
	padding: 0 0;
	width: auto;
	height: auto;
}

.char {
	margin: 0 100px;
	padding: 10px 10px;
	resize: none;
	overflow: hidden;
	background: #00ff5f;
	color: black;
}